<!DOCTYPE html>
<html>
  <head>
    <title> Fedeaux Organization </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script>
     window.FedeauxOrg = {
         config: {
             api_url: '<%= ENV['API_URL'] %>'
         }
     }
    </script>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
      <div id="fedeaux-org-app">
      </div>
  </body>
</html>
